[Unit]
Description=proxylog
After=mysql.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/repo/proxylog/proxylog.py
EnvironmentFile=/etc/default/proxylog
StandardOutput=journal+append:/var/log/proxylog.log
StandardError=append:/var/log/proxylog-err.log
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

