[Unit]
Description=proxylog
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /root/repo/proxylog/proxylog.py
EnvironmentFile=/root/repo/proxylog/.env
StandardOutput=append:/var/log/proxylo.log
StandardError=append:/var/log/proxylog-err.log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

